
  <body>
  <div>
    <a href="/rock">Play Rock</a>
  </div>
  <div>
    <a href="/paper">Play Paper<a>
  </div>
  <div>
  <a href="/scissors">Play Scissors</a>
  </div>

<div>
We played paper!
</div>

<div>
They played <%= @comp_move %>!
</div>
<div>
We <%= @outcome %>!
</div>

<div>
<a href="/">Rules</a>
</div>
